.header-top {
  .menu-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0 15px;
    width: 100%;
  }
  .search-wrap {
    .search_form {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
        background-image: url('../../../images/search-v1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px 20px;
      }
      .search_input {
        padding: 10px 30px 10px 40px;
        width: 100%;
        border-radius: 30px;
        border: 2px solid #5b5b5b;
      }
    }
  }
  .tool-right {
    display: flex;
    align-items: center;
    .profile {
      .user_action {
        ul {
          display: flex;
          text-transform: uppercase;
          li:first-child::after {
            content: '/';
            padding: 0 5px;
          }
          li {
            cursor: pointer;
            a {
              transition: all ease-in-out 0.2s;
              &:hover {
                color: #ff529c;
              }
            }
          }
        }
      }
    }
    .cart {
      cursor: pointer;
      a {
        display: flex;
        align-items: center;
        .count {
          color: #ff529c;
        }
      }
    }
  }
  .search-wrap {
    width: 500px;
  }
  .profile {
    font-size: 1.25rem;
    margin-right: 40px;
    .logged {
      position: relative;
      &:hover {
        .logged-menu {
          display: block;
        }
      }
      .avatar {
        margin-right: 20px;
        width: 49px;
        height: 49px;
        position: relative;
        overflow: hidden;
        border-radius: 49px;
        img {
          border-radius: 49px;
          max-width: none;
          height: 100%;
          position: absolute;
        }
      }
      .logged-menu {
        display: none;
        position: absolute;
        top: 98%;
        left: 0;
        padding: 5px 0;
        z-index: 200;
        ul {
          width: 200px;
          background: white;
          box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
          padding: 5px;
          li:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          li {
            padding: 5px;
            a {
              padding-bottom: 5px;
              transition: all, 0.3s;
            }
            a:hover {
              color: #e9e8e8 !important;

              border-bottom: 2px solid #ff529c;
            }
          }
        }
      }
    }
  }
  .img-cart {
    width: 38px;
  }
  .count {
    font-size: 1.25rem;
    margin-left: 5px;
    font-family: 'GARAMONDPREMRPRO';
    font-style: italic;
  }
  .logo {
    img {
      width: 200px;
    }
  }
  .btn-showmenu {
    display: none;
    float: right;
    width: 20px;
    height: 16px;
    position: relative;
    z-index: 110;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background: #000000;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all, 0.3s;
    }
    &::before {
      content: '';
      display: block;
      height: 2px;
      background: #000000;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      transition: all, 0.3s;
    }
    &::after {
      content: '';
      display: block;
      height: 2px;
      background: #000000;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all, 0.3s;
    }
  }
  .search-mobi {
    display: none;
    img {
      vertical-align: middle;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .search-wrap {
    width: 450px !important;
  }
  .profile {
    font-size: 1.25rem !important;
    margin-right: 40px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .search-wrap {
    width: 400px !important;
  }
  .profile {
    font-size: 1rem !important;
  }
}
@media only screen and (max-width: 1280px) {
  .search-wrap {
    width: 350px !important;
  }
}
@media only screen and (max-width: 1199px) {
  .search-wrap {
    width: 300px !important;
  }
  .profile {
    font-size: 0.875rem !important;
    margin-right: 15px !important;
  }
  .img-cart {
    width: 25px !important;
  }
}
@media only screen and (max-width: 991px) {
  .menu-inner {
    margin: 10px 0 10px !important;
    -webkit-box-pack: unset !important;

    justify-content: unset !important;
  }
  .tool-right {
    width: calc(100% - 185px);
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .search-wrap {
    display: none;
  }
  .search-mobi {
    margin-right: 10px;
    width: 20px;
    display: block !important;
  }
  .profile {
    display: none !important;
  }
  .img-cart {
    width: 23px !important;
  }
  .count {
    font-size: 0.875rem !important;
  }
  .logo {
    img {
      width: 150px !important;
      margin-left: 15px !important;
    }
  }
  .btn-showmenu {
    display: block !important;
  }
  @keyframes flowdown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .active-head {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    animation: flowdown 1.5s;
    background-color: white;
    -webkit-animation-fill-mode: inherit;
    animation-fill-mode: inherit;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%);
  }
}
@media only screen and (max-width: 543px) {
  .logo {
    img {
      width: 100px !important;
    }
  }
  .tool-right {
    width: calc(100% - 135px) !important;
  }
}
