.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  visibility: hidden;
  overflow: hidden;
  outline: 0;
  .modal-dialog {
    transition: transform 0.3s ease-out, -webkit-transform 0.3s;
    transform: translate(0, -25%);
    position: relative;
    width: auto;
    max-width: 600px;
    margin: 30px auto;
    .modal-content {
      position: relative;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      outline: 0;
      .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        .close {
          margin-top: -2px;
          float: right;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1;
          color: #000;
          text-shadow: 0 1px 0 #fff;
          opacity: 0.2;
          padding: 0;
          cursor: pointer;
          background: 0;
          border: 0;
        }
        .modal-title {
          margin: 0;
          line-height: 1.5;
        }
      }
      .modal-body {
        position: relative;
        padding: 15px;
      }
      .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
      }
    }
  }
}
.fade {
  opacity: 0;
  transition: all ease-in-out 0.15s ;
}
.active-modal {
  display: block !important;
  opacity: 1 !important;
  visibility: visible;
  background:rgba(0, 0, 0, 0.3);
  .modal-dialog {
    transform: translate(0, 0) !important;
  }
}
@media screen and (max-width: 576) {
  .modal-dialog {
    max-width: 0 !important;
    margin: 10px !important;
  }
}
